{% extends "blog.html.twig" %}

{% block h1 %}
   {{'blog.viewArticle.title'|trans}}
{% endblock %}

{% block article %}
    <div class="card" style="margin-bottom: 2rem">
        <div class="card-header">
            <p class="float-left">
                {{'blog.viewArticle.add'|trans}} : {{ article.createdAt | date("d/m/Y")}}
                {% if article.updatedAt!=article.CreatedAt %}
                    - {{'blog.viewArticle.edit'|trans}} : {{article.updatedAt | date("d/m/Y")}}
                {% endif %}</p>
            <p class="float-right">{{ article.nbViews }} <i class="far fa-eye"></i></p>

        </div>
        <div class="card-body">
            <h2 class="card-title">{{ article.title }} - {{ article.author}}</h2>
            {% for category in article.categories  %}
                <p class="badge badge-primary" >{{ category.name }}</p>
            {% endfor %}
            <p class="card-text">{{ article.content}}</p>
            {% if is_granted('edit', article) %}
                <a type="button" class="card-link btn btn-secondary" href="{{ path('edit_article', {'id': article.id})}}" ><i class="fas fa-pen"></i></a>
                <a type="button" class="card-link btn btn-danger ml-1" href="{{ path('delete_article', {'id': article.id})}}"><i class="fas fa-trash fa-1x"></i></a>
            {% endif %}
        </div>
    </div>

    <div class="card" style="margin-bottom: 2rem">
        <div class="card-body">
            <h3 class="card-title">{{'blog.listArticle.comment'|trans}} :</h3>
            {% for comment in article.comments %}
                <h6>{{ comment.title }} - {{ comment.author }}</h6>
                <p>{{ comment.message }}</p>
                <p>{{ comment.createdAt|date("d/m/Y") }}</p>
                {% if not loop.last %}
                    <hr class="my-2">
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}